
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
  font-family: "Quicksand", sans-serif;
}
/* SPECIEFIEKE TITEL */

.text-xl.font-bold {
  font-family: "Sora", sans-serif;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;

}

.sixtyfour-convergence {
  font-family: "Sixtyfour Convergence", sans-serif;
}

/* ALLE TITELS */

.montserrat-bold {
  font-family: "Sora", sans-serif;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}
.montserrat-semibold {
  font-family: "Sora", sans-serif;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
    text-transform: uppercase;
  }

  /* ALLE TEXT */

.roboto-thin {
    font-family: "Quicksand", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Quicksand", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-light-italic {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-regular-italic {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-medium-italic {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold {
    font-family: "Quicksand", sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold-italic {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black {
    font-family: "Quicksand", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-black-italic {
    font-family: "Quicksand", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  .appTitle{
    font-size:1.2em; 
    font-family: "Sixtyfour Convergence", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
  }

  .pageTitle{
    font-size:5em; 
    font-family: "Sixtyfour Convergence", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
  }